body,
main,
header,
nav,
section {
    margin: 0;
    padding: 0;
}

.site-header {
    top: 0;
    left: 0;
    width: 100%;
    z-index: 5;
    background-color: #F5F5DC;
    /* amarillo */
    color: #000;
    padding: 5px 0;
}

.navbar {
    position: absolute;
    top: 50px;
    /* justo debajo del header */
    left: 0;
    width: 100%;
    z-index: 4;
    background: transparent !important;
    box-shadow: none;
    border: none;
}

.hero-section {
    position: relative;
    height: 100vh;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

.hero-section .video-wrap video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.section-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.hero-section .container {
    position: relative;
    z-index: 2;
}

.hero-section h1,
.hero-section small,
.hero-section a,
.hero-section h5 {
    color: white;
}

.navbar,
.site-header,
.hero-section {
    margin-bottom: 0 !important;
}

.fondo{
    background-color: #9d908d;
}